<html>
<header>
</header>
<body>
<div>
    <a href ='/'>Home</a>
    <a href ='/users/add-user'>Add User</a>
    <a href ='/person'>Persons</a>
    <a href ='/users/users'>Users</a>
    <a href ='/users/bank-accounts'>Accounts</a>
</div>





</body></html>