<html>
<head>
<link rel='stylesheet' href='/css/site.css'></link>
</head>

<body>
{{>menu}}
<h1> information </h1>

Name is {{name}} and lives on {{address.street}}, {{address.city}} {{address.state}}
Age is {{age}}

</body>




</html>